/*invertido*/
#diez_de_diamantes {
    z-index: 5;
}

#sota_de_diamantes {
    z-index: 4;
}

#reina_de_diamantes {
    z-index: 3;
}

#rey_de_diamantes {
    z-index: 2;
}

#as_de_diamantes {
    z-index: 1;
}